h4{
    font-size: 50px;
    text-shadow: #925da7 0.1px 0.1px 1px;
    color: rgb(29, 12, 46);
}
p{
    font-size: 20px;
    text-shadow: #925da7 0.1px 0.1px 0.1px;
}

.eddl {
    
    margin-top: -8px;
    font-size: 25px;    

}