@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
 

:root {
    --color-light-50: #f8fafc ;
 
    --color-dark-50: #797984;
    --color-dark-100: #312d37; 
    --color-dark-900: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200:#bf46ef;

    --color-gradient: linear-gradient(90deg, var(--color-purple), var(--color-purple-100), var(--color-purple-200));

}

#c1{ 
    margin-left: 50;
    margin-right: 50px;

}

#c2{ 
    margin-left: 50;
    margin-right: 50px;
}


#c2{ 
    margin-left: 50;
    margin-right: 50px;
}


*{  font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
     
    
}

.card1{ display: flex;
    justify-content: center ;
    
    text-align: center;
    font-size: 20px;
    margin-top: 70px;
     
     
    margin-left: 50px;

}
.d-flex {margin-top: 30px;
     margin-left: 50px;
  

}


.d-flex2 {
    justify-content: center;
    margin-top: 80px;
    margin-right: 50px;

}